:root {
  --color: #243746;
  --color-primary: #DC143C;
  --color-secondary: #0e2233;
  --color-highlight: #FDD9D9;
  --bg: #FFE7E7;
  --bg-secondary: #FFFFFF;
  --bg-extra: #FBF9F9;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #f84d6f;
  --color-secondary: #fdf9f3;
  --color-highlight: #163046;
  --bg: #091a28;
  --bg-secondary: #071521;
  --bg-extra: #0d2538;
}

html, body, #__nuxt, #__layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--color);
  font-family: 'Helvetica';
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  src: url(~assets/fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'Helvetica';
  font-weight: bold;
  src: url(~assets/fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: 'Helvetica';
  font-weight: lighter;
  src: url(~assets/fonts/Helvetica-Light.ttf);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
  color: var(--color);
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 228px auto 45px;
}

.sidebar {
  background: var(--bg);
}

.rightbar {
  background: var(--bg-extra);
}

.content {
  background: var(--bg-secondary);
}

.link {
  color: var(--color-primary);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
